 

 ### Objective: Evaluate model performance across K-Fold Cross and Stratified K-Fold from pandas df.

 * Determine input feature are X = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','price','condition','yr_built','zipcode']
 * Determine target feature is y = ['grade']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold # import KFold

url = 'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/King_County/kingCountyHouseData.csv'
df = pd.read_csv(url)

df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [41]:

columns = ['bathrooms','floors','condition']
X          = df.loc[:, columns]
y          = df.loc[:, 'bedrooms']

In [42]:
y.value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [43]:
y

0        3
1        3
2        2
3        4
4        3
        ..
21608    3
21609    4
21610    2
21611    3
21612    2
Name: bedrooms, Length: 21613, dtype: int64

In [44]:
X

       bathrooms  floors  condition
0           1.00     1.0          3
1           2.25     2.0          3
2           1.00     1.0          3
3           3.00     1.0          5
4           2.00     1.0          3
...          ...     ...        ...
21608       2.50     3.0          3
21609       2.50     2.0          3
21610       0.75     2.0          3
21611       2.50     2.0          3
21612       0.75     2.0          3

[21613 rows x 3 columns]

In [45]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bathrooms  21613 non-null  float64
 1   floors     21613 non-null  float64
 2   condition  21613 non-null  int64
dtypes: float64(2), int64(1)
memory usage: 506.7 KB

 # K-fold Cross Validation

hint : create model for grade prediction

model_grade = xxxx

In [46]:
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df.loc[:, columns].values
y = df.loc[:, 'bedrooms'].values

kf = KFold(n_splits=5, shuffle=True, random_state=42)
fold = 0
for train_index, test_index in kf.split(X):
    fold += 1
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model = LogisticRegression(max_iter=500)
    model.fit(X_train, y_train)
    
    predictions = model.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    
    print(f"Fold {fold}, Accuracy: {accuracy:.2f}")

/Users/tuchsanai/opt/anaconda3/envs/torch/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold 1, Accuracy: 0.51

/Users/tuchsanai/opt/anaconda3/envs/torch/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold 2, Accuracy: 0.50

/Users/tuchsanai/opt/anaconda3/envs/torch/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold 3, Accuracy: 0.50

/Users/tuchsanai/opt/anaconda3/envs/torch/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Fold 4, Accuracy: 0.51
Fold 5, Accuracy: 0.51

/Users/tuchsanai/opt/anaconda3/envs/torch/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

hint : create model for bedrooms

model_bedrooms = xxxx

In [67]:
model_bedrooms = LogisticRegression(max_iter=200)

### forecasting grades

In [68]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,price,condition,yr_built,zipcode
0,3,1.00,1180,5650,1.0,221900.0,3,1955,98178
1,3,2.25,2570,7242,2.0,538000.0,3,1951,98125
2,2,1.00,770,10000,1.0,180000.0,3,1933,98028
3,4,3.00,1960,5000,1.0,604000.0,5,1965,98136
4,3,2.00,1680,8080,1.0,510000.0,3,1987,98074
...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,360000.0,3,2009,98103
21609,4,2.50,2310,5813,2.0,400000.0,3,2014,98146
21610,2,0.75,1020,1350,2.0,402101.0,3,2009,98144
21611,3,2.50,1600,2388,2.0,400000.0,3,2004,98027
21612,2,0.75,1020,1076,2.0,325000.0,3,2008,98144

In [73]:
y

       grade
0          7
1          7
2          6
3          7
4          8
...      ...
21608      8
21609      8
21610      7
21611      8
21612      7

[21613 rows x 1 columns]

In [74]:
y = y_grade.astype('int32')


kf = KFold(n_splits=5, shuffle=False)
fold = 0

for train_index, test_index in kf.split(X):
    print(f"Fold {fold}", train_index, test_index)
    fold += 1
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    model = LogisticRegression(max_iter=200)
    model.fit(X_train, y_train)
    
    predictions = model.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    
    print(f"Fold {fold}, Accuracy: {accuracy:.2f}")

Fold 0 [ 4323  4324  4325 ... 21610 21611 21612] [   0    1    2 ... 4320 4321 4322]

KeyError: "None of [Int64Index([ 4323,  4324,  4325,  4326,  4327,  4328,  4329,  4330,  4331,\n             4332,\n            ...\n            21603, 21604, 21605, 21606, 21607, 21608, 21609, 21610, 21611,\n            21612],\n           dtype='int64', length=17290)] are in the [columns]"

#  Stratified K-Fold Cross Validation

hint : create model for grade prediction

model_grade = xxxx

hint : create model for bedrooms

model_bedrooms = xxxx